@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Courgette&family=Lobster&family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Courgette&family=Lobster&family=Patrick+Hand&display=swap');
*{
 
}
html,body{
    overflow-x: hidden;
}
body{background-color: black;

    overflow-x: hidden;
    background:url("./images/homebg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Caveat', cursive;
    font-family: 'Courgette', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Patrick Hand', cursive;
}
.navbar{
    position: sticky;
}
#home{
height: 100vh;
}
.hover:hover{
  color:#0bf61b;
}
#about{
    height:100vh;

}
.row1{
    position:absolute;
    top:12rem;
    left:10rem;
}
.grayscale{
    border:1px solid white;
    position:absolute;
    top:2rem;
    left:2rem;
    width:20rem;
    height:20rem;
    display:inline-block;
}
.coloured{
    border:1px solid white;
    position:relative;
    top:5rem;
    left:-2rem;
    width:20rem;
    height:20rem;
    display:inline-block;
}
.heading{
    margin-top:6rem;
    font-family: sans-serif;
    font-weight: bolder;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
p{color:white;
    font-weight:500;
    font-size: 1.7rem;
    font-family: 'Bebas Neue', cursive;
font-family: 'Caveat', cursive;
font-family: 'Courgette', cursive;
font-family: 'Lobster', cursive;
font-family: 'Patrick Hand', cursive;
}
.nav-font{
    color:rgb(249, 249, 249);
    font-size: 1.5rem;
    
}
.navbar-brand{
    font-size: 2rem;

}
.row2{
    position:absolute;

    left:10rem;
}
.about{
    margin-top:8rem;
}
.navbar-brand img{
  height:100px;
}
@media (max-width:1023px) {
    .row1{
        position:absolute;
        top:9rem;
        left:3rem;
        overflow-x: hidden;
    }
    .grayscale{
        border:1px solid green;
        position:absolute;
        top:4rem;
        left:0rem;
        width:16rem;
        height:16rem;
        display:inline-block;
    }
    .coloured{
        border:1px solid red;
        position:absolute;
        top:2rem;
        left:2rem;
        width:16rem;
        height:16rem;
        display:inline-block;
    }
    .heading{
        margin-top:24rem;
        font-family: sans-serif;
        font-weight: bolder;
        background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .centerhead{
        display: block;
        text-align: center;
        font-size: 3rem;
        color:white;
        margin-top:6rem;
      }
      .navbar-brand{
       position: absolute;
       top:0;
       right:0;
      }
      .navbar-brand img{
        height:70px;
      }
    
}
@media (max-width:375px)
{  .centerhead{
  display: block;
  text-align: center;
  font-size: 3rem;
  color:white;
  margin-top:14rem;
}

}
/*about*/
#gallery{  margin-top:6rem;
    min-height: 100vh;
}
.galleryitem{
    display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  overflow-y: hidden;
}
.box {
    position: relative;
    width: 250px;
    height:250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px;
    background: #060c21;
    transition: 0.5s;
  }
  
  .box:hover {
    height: 300px;
  }
  
  .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .box .imgBx img {
    max-width: 100%;
    opacity: 0.1;
    transition: 0.5s;
  }
  
  .box:hover .imgBx img {
    opacity: 1;
  }
  
  .box:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
  }
  
  .box:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
  }
  
  .box:before, .box:after {
   /* background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);*/
    background: linear-gradient(235deg, #772aff, #010615, #2196f3);
  }
  
 /* .box:nth-child(2):before, .box:nth-child(2):after {
    background: linear-gradient(235deg, #ff005e, #010615, #fbff00);
  }
  
  .box:nth-child(3):before, .box:nth-child(3):after {
    background: linear-gradient(235deg, #772aff, #010615, #2196f3);
  }*/
  
  .box .content {
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 50px;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
  }
  
  .box:hover .content {
    opacity: 1;
  }
  
  .box .content h2 {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    /*line-height: 20px;*/
    letter-spacing: 1px;
  }
  
  .box .content h2 span {
    font-size: 14px;
    color: #fff;
    font-weight: 200;
    letter-spacing: 2px;
  }
  .centerhead{
    display: block;
    text-align: center;
    font-size: 3rem;
    color:white;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }